.game {
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    font-weight: 500;
}

.title {
    background: rgb(24, 11, 204);
    padding: 5px 0;
    margin: 5px 0;
}

span {
    color: rgb(255, 136, 0);
}

.square {
    width: 80px;
    height: 80px;
    background: rgb(24, 11, 204);
    float: left;
    margin: 2px;
    font-size: 50px;
}

.square:hover {
    background: #000;
    cursor: pointer;
}